# =================================================================
# Конфиденциальная информация
# =================================================================
# Файл с секретными ключами, паролями, токенами. САМОЕ ВАЖНОЕ!
.env

# =================================================================
# Виртуальное окружение Python
# =================================================================
# Папка со всеми установленными библиотеками. Ее нельзя загружать.
# Для этого мы создали requirements.txt
/venv/

# =================================================================
# Кэш и временные файлы Python
# =================================================================
# Папки с кэшем Python, которые создаются автоматически
__pycache__/
*.pyc

# =================================================================
# Логи и базы данных
# =================================================================
# Файлы логов, которые генерируются во время работы программы
*.log
# Игнорируем папки с логами целиком
/logs/
/app/logs/

# Если будешь использовать локальную базу данных, например SQLite
*.sqlite3
*.db

# =================================================================
# Файлы операционной системы и редакторов кода
# =================================================================
.DS_Store
Thumbs.db
.idea/
.vscode/

# =================================================================
# Прочие файлы, которые не должны быть в репозитории
# =================================================================
# Твой служебный файл со структурой
structure.txt